#refresh{
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    cursor: pointer;
}

#fecha_actual{
	
	float: left;
	margin-bottom: 10px;
	font-size: 1.2em;
    margin-left: 20px;
    margin-top: 10px;
	
}

#calendario{
 	background: transparent;
 	background-image: url('/img/calendar.png');
 	background-size: 30px;
 	padding-left: 40px;
 	height: 32px;
 	background-repeat: no-repeat;
 	border: 0px;
    color: #666; 
 	font-size: 0.8em;
 	width: 110px;
 	cursor: pointer;
 	
}

#content{
    float: left;
    width: 100%;
    margin-top: 20px;
}

#pestanha_recibidos{
    display: none;
}

#pestanha_ndesarrollo{
    display: none;
}

#pestanha_finalizados{
    display: none;
}


.pestanha table{
    width: 84.9%;
    border-collapse: collapse;
    border-bottom: 1px solid #ccc;
    
    
}
.pestanha tr{
    border-top: 1px solid #ccc;
    height: 25px;
    margin-top: 12px;
    padding-top: 12px;
    
}

.pestanha tr:hover{
   background-color: #fb0;
   color: white;
   cursor: pointer;
}

.pest_info{
    float: left;
    border-bottom: solid 1px #ccc;
    width: 84.9%;
    color: #555;
    cursor: pointer;
}

.pest_info:hover{
    background-color: #fa0;
    color: white;
}

.no_solicitud{
    float: left;
    margin-left: 2%;
    margin-right: 3%;
}

.habitacion{
    float: left;
    margin-right: 3%;

}

.item{
    float: left;
    min-width: 23%;
}

.hora_solicitud{
    float: right;
    margin-right: 2%;   
}

#dialog-modal table{
    //border: 2px dotted #ccc;
    width: 100%;
    font-size: 0.9em;
    border-collapse: collapse;
    margin-bottom: 15px;
}

#dialog-modal td{
    border: 1px dotted #ccc;
    font-size: 0.9em;
    border-collapse: collapse;
    padding-left: 12px;
}

#dialog-modal th{
    font-size: 1em;
    float: left;
}

#obs_txt textarea{
    background-color: transparent;
    border: 0;
    width: 100%;
    resize:none;
}

#dialog-user table{
     //border: 2px dotted #ccc;
    width: 100%;
    font-size: 0.9em;
    border-collapse: collapse;
    margin-bottom: 15px;
}

#dialog-user input[type=password]{
    border: 0;
    background-color: transparent;
    width: 100%;
}

#dialog-user td{
    border: 1px dotted #ccc;
    font-size: 0.9em;
    border-collapse: collapse;
    padding-left: 12px;
}

#dialog-user th{
    font-size: 1em;
    float: left;
}
